body {
  background-color: #07892f;
  color: #ff0000;
  font-family: "Arial", sans-serif;
}

.container {
  background: #fcdd09;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.form-select,
.btn-primary {
  background-color: #3a3a3a;
  border: none;
  color: #eaeaea;
}

.form-select:focus,
.btn-primary:focus {
  box-shadow: none;
}

.btn-primary {
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.card {
  background-color: #db1a21;
  border: none;
  color: #eaeaea;
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 2rem;
}
